@using Blog.Interfaces.Models;
@model IBlogEntryModel
<div class="span8 footer">
    @if (Model.Tags != null)
    {
	    <span class="span6" style="margin-left: 0px;">
		    <small><strong>Tags:&nbsp;</strong></small>
		    @foreach (var x in Model.Tags)
            {
			    <span class="badge badge-info">@(x.Name)</span><text>&nbsp;</text>
            }
	    </span>			
    }
    <span>
	    <small><strong>Posted:&nbsp;</strong>@Model.PostedDate.ToString(new System.Globalization.CultureInfo("en-GB"))</small>
    </span>
</div>