@using Blog.Interfaces.Models;
@model IBlogEntryModel
<div class="blogEntry">
	<div class="row">
		<div class="span8">
			<h4>@Html.Raw(HttpUtility.HtmlDecode(Model.Title))</h4>
		</div>       
	</div>    
	<hr />
	<div class="row">
		<div class="span8 entry">@Html.Raw(HttpUtility.HtmlDecode(Model.Entry))</div>
	</div>
	<div class="row" style="margin-top: 8px;">
		@Html.ActionLink("Read more ...", "BlogEntry", new { controller = "Home", id = Model.Key }, new { @class = "span2 offset6" })
	</div>
	<hr />
	<div class="row">
		@{ Html.RenderPartial("Partials/BlogEntryFooter", Model); }
	</div>
</div>