body { background: #FAFAFB; font-family: "Segoe UI", Calibri, Verdana, Tahoma, "Arial Black", Arial; }
.blogEntry { background: white; border: 1px solid #ddd; padding: 5px; margin-bottom: 10px; 
             -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 4px;}
.blogEntry .row { margin-left: 5px; }
.blogEntry hr { margin: 5px 0px; }
.tweetsRow { background: white; padding: 5px; }
.contactImg { width: 30px; padding-bottom: 5px; }
.contactText { width: 80px; }