@{
	ViewBag.Title = "Prompt - About me";
}
<div class="well about-me">
	<div class="row">
		<div class="span8 aboutMe">
			<h2>About me</h2>
		</div>
		<div class="span5 aboutMe">
			<p>My name is Paul David Welbourne. I am an Application Developer based in Widnes, Cheshire.</p>
			<p>
				Since graduating from the University of Liverpool in 2008, I have worked on many exciting
				web-based projects with a number software development teams in-and-around the North-West UK.
			</p>
			<p>I specialise in Microsoft .NET technologies, and have specific passion for Web development.</p>
			<p>
				I'm a Microsoft Certified Professional, a practitioner of Agile software development, Test Driven Development and the adoption
				of best practices and SOLID-compliance.
			</p>
			<p>
				Apart from my contributions here, you can also find me microblogging on
				<a href="http://www.twitter.com/wellers" target="_blank">Twitter</a>.
			</p>
			<p>Outside of software development, I have casual interests in music production, sports and keeping fit at my local gym.</p>
		</div>
		<div class="span3">
			<div>
				<img style="width: 205px;" class="thumbnail" src="@Url.Content("~/Content/images/profilepicture.jpg")" alt="no pic!" />
			</div>
			<div style="margin-top: 10px;">
				<img style="display: inline; width: 95px;" class="thumbnail" src="@Url.Content("~/Content/images/MCP_logo.png")" alt="no pic!" />
				<img style="display: inline; width: 95px;" class="thumbnail" src="@Url.Content("~/Content/images/MCTS_logo.png")" alt="no pic!" />
			</div>
		</div>
	</div>
</div>