@using Blog.Interfaces.Models;
@model IBlogEntryModel
@{
    ViewBag.Title = "Prompt";
}
<div class="blogEntry">
	<div class="row">
		<div class="span8">
			<h4>@Html.Raw(HttpUtility.HtmlDecode(Model.Title))</h4>
		</div>       
	</div>    
	<hr />
	<div class="row">
		<div class="span8">@Html.Raw(HttpUtility.HtmlDecode(Model.Entry))</div>
	</div>
	<hr />
	<div class="row">
		@{ Html.RenderPartial("Partials/BlogEntryFooter", Model); }
	</div>
</div>
