@{
	ViewBag.Title = "Prompt - Contact Me";
}
<div class="well">
	<div class="row">
		<div class="span9">
			<h2>Contact me</h2>
		</div>
	</div>
	<div class="row">
		<div class="span1 contactImg"><img src="@Url.Content("~/Content/images/email.gif")" style="height:16px; width:16px;" alt="no pic!" /></div>
		<div class="span1">Email:</div>
		<div class="span6"><a href="mailto:paul_welbourne@yahoo.co.uk" target="_blank">paul_welbourne@yahoo.co.uk</a></div>
	</div>
	<div class="row">
		<div class="span1 contactImg"><img src="http://www.twitter.com/favicon.ico" style="height:16px; width:16px;" alt="Twitter Icon" /></div>
		<div class="span1">Twitter:</div>
		<div class="span6"><a href="http://www.twitter.com/wellers" target="_blank">@("@")wellers</a></div>
	</div>
	<div class="row">
		<div class="span1 contactImg"><img src="@Url.Content("~/Content/images/favicon.png")" style="height:16px; width:16px;" alt="BitBucket Icon" /></div>
		<div class="span1">BitBucket:</div>
		<div class="span6"><a href="https://bitbucket.org/pwelbourne" target="_blank">pwelbourne</a></div>
	</div>
</div>
