@model Blog.Models.HomeViewModel
@{
	ViewBag.Title = "Index";
}

<div class="well">
	<h1>Welcome!</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
		dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
		ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
		nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
		id est laborum.</p>
	<p>
		@Html.ActionLink(HttpUtility.HtmlDecode("Learn more ..."), "About", "Home",
							new {area = "", controller = "Home"}, new { @class = "btn btn-primary btn-large" })
	</p>
</div>
@foreach (var b in Model.BlogEntries)
{
	<div class="container blogEntry">
		<div class="row">
			<div class="span6">
				<h4>@b.Title</h4>
			</div>
			<div class="span3">
				<h4>@b.PostedDate</h4>
			</div>
		</div>
		<div class="row">
			<div class="span8">@Html.Raw(HttpUtility.HtmlDecode(b.Entry))</div>
		</div>
	</div>
}