@model Blog.Models.HomeViewModel
@{
	ViewBag.Title = "Prompt";
}

<div class="well title">
	<div class="row">
		<div class="span8">
			<p>Welcome to the whimsical meanderings of a North-West UK based Dot Net developer. Major areas of focus include: C#, 
			ASP.NET MVC, Razor, JavaScript, JQuery, and many more.</p>
		</div>
	</div>
</div>
@foreach (var entry in Model.BlogEntries)
{
	Html.RenderPartial("Partials/HiddenBlogEntry", entry);
}