@using Blog.Interfaces.Models;
@model List<IBlogEntryModel>

<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Recent posts</li>
		@foreach (var b in Model)
		{ 
			<li style="margin-bottom: 10px;">
				<small>@Html.ActionLink(HttpUtility.HtmlDecode(b.Title), "BlogEntry", new { controller = "Home", id = b.Key })</small>
			</li>
		}
	</ul>
</div>