<script type="text/javascript">
	$(document).ready(function () {
		TwitterFeed.loadLatestTweet('wellers', 5, '@Url.Content("~/Content/images/twitter-bird-light-bgs.png")');
	});
</script>

<div class="sidebar">
	<div id="TwitterFeed"></div>
</div>