@model Blog.Models.TwitterFeedViewModel

<div style="margin-left: 15px;"><h4>My Recent Tweets</h4></div>
@foreach (var t in Model.Tweets)
{
	<div class="row tweetsRow">
		<div>
			<a href="https://twitter.com/@(t.UserName)">@("@")@t.UserName</a>&nbsp;
			<p style="display:inline;"><small>@t.Message</small></p>
		</div>
	</div>
}